
body{
	font: 10px sans-serif;
}

.chart rect {
	stroke: white;
	fill: steelblue;
}

#wip{
}


.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area-total{
	fill: steelblue;
}

.area-unscheduled{
	fill: chocolate ;
}

.area-unstarted{
	fill: orange ;
}

.area-started{
	fill: lightgreen;
}

.area-delivered{
	fill: slategray;
}

.area-accepted{
	fill: firebrick;
}
