
body{
	font: 10px sans-serif;
}

.chart rect {
	stroke: white;
	fill: steelblue;
}

#wip{
}


.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area-total{
	background-color:pink;
	fill: pink;
}

.area-unscheduled{
	background-color:steelblue;
	fill: steelblue;
}

.area-unstarted{
	background-color:orange;
	fill: orange ;
}

.area-started{
	background-color:lightgreen;
	fill: lightgreen;
}

.area-delivered{
	background-color:slategray;
	fill: slategray;
}

.area-accepted{
	background-color:firebrick;
	fill: firebrick;
}
.area-finished
{
	background-color:pink;
	fill: pink;
}

.burndown{
	height:200px;
}

